.container {
  text-align: center;
  .img-ncc {
    width: 310px;
    height: 122px;
  }
}


@media (max-width: 1000px) {
  .container {
    text-align: center;
    .img-ncc {
      width: 150px;
      height: 70px;
      margin-right: 13%;
    }
  }
}
