.container {
  text-align: center;
  .img-ncc {
    width: 310px;
    height: 122px;
  }
}


@media only screen and (max-width: 1024px) {
  .container {
    text-align: center;
    .img-ncc {
      width: 210px;
      height: 122px;
    }
  }
}
