.container {
  text-align: center;
  .img-ncc {
    width: 310px;
    height: 122px;
  }
}


@media (min-width: 768px) {
  .container {
    text-align: center;
    .img-ncc {
      width: 210px;
      height: 122px;
    }
  }
}
