.container {
  .block-1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    width: 1510px !important;
    height: 210px;
    background: #EFEFEF;
    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      padding: 38px 0 18px 0;
    }
    .text {
      width: 972px;
      height: 95px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin: 0 269px;
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    .content-card {
      margin-right: 50px;
      width: 470px;
      height: 252px;
      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 18px;
      }
      .img-card {
        width: 128px;
        height: 128px;
        float: left;
        margin-right: 16px;
      }
      .text {
        text-align: justify;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    text-align: center;
    .block-1 {
      width: 580px;
      .title {

      }
      .text {

      }
    }
  }
}
