/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

:host {
  height:100%;
  display: block;
}
